* {
  font-family: 'Raleway', sans-serif;
}

html,
body {
  height: 100%;
  width: 100% !important;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.header {
  height: 87px;
}

.header nav {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 2px 2px rgba(0, 0, 0, .24);
}

@media screen and (max-width: 991px) {
  .add-location {
    margin: 15px 0;
  }
}

.primary {
  background-color: #1CABE2;
}

.nav-item {
  text-transform: uppercase;
}

.content>h2 {
  font-size: 3.3rem;
  margin: 50px 0px;
  text-align: center;
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 15%;
}

.feature-link {
  display: flex;
  min-width: 120px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none !important;
}

.features>a:hover,
.features>a:active {
  color: #1CABE2 !important;
  transition: background-color 0.2s ease-in;
}

.features h3 {
  font-size: 1.5rem;
  text-decoration: none !important;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 12vw;
  width: 12vw;
  min-width: 90px;
  min-height: 90px;
}

.feature-icon:hover {
  background-color: #1CABE2 !important;
  transition: background-color 0.2s ease-in;
}

.feature-icon img {
  width: 60%;
}

.image {
  width: 100vw;
  margin-top: 40px;
}

.image>img {
  object-fit: cover;
  width: 100%;
}

.disclaimer {
  background-color: #3b3d40;
  color: white;
  padding: 10%;
  text-align: center;
}

.disclaimer>h5 {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-size: 1rem;
  margin-bottom: 50px;
}

.disclaimer>p,
.contact>p {
  font-size: 1.4rem;
}

.contact {
  background-color: white;
  color: black;
  padding: 10%;
  text-align: center;
  width: 100%;
}

.contact img {
  margin-bottom: 30px;
  width: 50%;
}

header a {
  color: #000;
}

header table {
  width: 100%;
}

.mui-appbar {
  background-color: #1CABE2 !important;
}

*/ .add-btn {
  float: right;
  padding: 10px;
}

.locations-section {
  padding-top: 50px;
}

.search-results {
  height: calc(100vh - 87px);
  padding: 30px 0;
  display: flex;
}



.locations-col {
  overflow: scroll;
  height: 100%;
  flex: 1;
}

.locations-map {
  height: 100%;
  margin-right: 15px;
  flex: 1;
}

.location-card {
  text-decoration: none;
}

.location-title {
  padding: 10px;
}

.location-data {
  text-align: left;
  font-size: 1rem;
}

.location-data:first-child {
  border-right: 1px solid #e0e0e0;
  color: #6c757d;
}

@media only screen and (max-width: 768px) {
  .location-data:first-child {
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
  }
}

.card {
  border: none !important;
  margin-bottom: 30px;
}

.card:hover {
  background-color: #1CABE2;
}

.card-body {
  background-color: #fafafb;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.footer {
  height: 80px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer>nav {
  text-align: center;
}

.no-link-style,
.no-link-style:hover,
.no-link-style:visited {
  text-decoration: inherit;
  color: inherit;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon:hover {
  filter: brightness(110%) !important;
}

button:focus {
  outline: none !important;
}

.relief-list {
  margin: 40px;
  margin-bottom: 120px;
}

.hero {
  display: flex;
  margin: 80px 3%;
}

.hero-image {
  width: 26%;
  min-width: 200px;
  height: 100%;
  flex: 0 0 auto;
}

.hero-right {
  display: flex;
  flex: 1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 8%;
  margin-right: 40px;
}

.hero-content>h2 {
  font-size: 4vw;
}

.hero p {
  font-size: 1.2rem;
}

.hero-flag {
  width: 15%;
  max-width: 100px;
  align-self: flex-start;
  /* display: none; */
}

.hr-styled {
  width: 50px;
  border: 2px solid #1CABE2;
  margin: 20px 0;
}

@media screen and (max-width: 767px) {

  .feature-link {
    display: flex;
    flex: 1 0 48%;
    margin-bottom: 20px;
  }

  .search-results {
    flex-direction: column-reverse;
  }

  .locations-map {
    margin-left: 15px;
    height: 400px;
  }

  .hero {
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }

  .hero-image {
    align-self: center;
    margin-bottom: 30px;
  }

  .hero-content {
    margin-left: 0;
  }

  .hero-content>h2 {
    font-size: 2.2rem;
  }
}

footer>nav>span>a {
  color: white !important;
}

.spacer {
  margin-top: 60px;
}

.relief-list p,
li {
  font-size: 1.1rem;
}

.relief-list li:not(:last-child) {
  margin-bottom: 10px;
}

.section-title {
  background-color: #1CABE2;
  color: white;
  margin-bottom: 20px;
  padding: 7px 25px;
}