<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Using OpenLayers with Webpack</title>
  <link href="./css/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" href="//openlayers.org/en/latest/css/ol.css" type="text/css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid my-4">
      <div class="row my-4">
        <div class="container-fluid">
          <div class="form-group">
            <label class="form-label"><small>Search either by direction, town or place</small></label>
          <div class="input-group">
      <input type="text" id="relief-search" class="form-control form-control-lg" placeholder="e.g. South, San Fernando, Movietowne etc..">
      <button id="search-clear" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
        </div>
      </div>
      <div class="row my-2 location-widget">
        <div class="location-map order-lg-2 col-lg-6 col-sm-12">
          <div id="map" class="map"></div>
          <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
              <div id="popup-content"></div>
          </div>
        </div>
          <div class="order-md-1 col-lg-6 col-sm-12 px-0">
          <div class="container-fluid relative full-height overflow-scroll  location-list">
            <div id="listHolder" class="grey-background-color list-holder">
              <div class="loading box">
                <div class="heart"></div>
                <div class="text">loading...</div>
              </div>
              <script id="descriptionTemplate" type="text/template">
                <div class="col-md-12 location-description">
                  <p class="location-description">{{description}}</p>
                </div>
              </script>
              <script id="linkTemplate" type="text/template">
                <span class="location-contact-link location-{{type}}">
                  <a href="{{url}}" target="_blank"><i class="{{icon}}"></i><small> {{type}}</small></a>
                </span>
              </script>
              <script id="timeTemplate" type="text/template">
                <h5>Hours of Business:</h5>
                <time datetime="{{timeOpen}}">{{timeOpenFormatted}}</time>
                <time datetime="{{timeClosed}}">- {{timeClosedFormatted}}</time>
              </script>
              <script id="contactTemplate" type="text/template">
                <div class="location-contact col-sm-12 col-md-12">
                    <div class="row">
                      <div class="col-xs-3 px-2">
                        <span class="location-contact-icon"><i class="fa fa-user"></i></span>
                      </div>
                      <div class="col-xs-9">
                        <span class="location-contact-name">{{contactName}}</span>
                        <a href="tel:{{phone}}" class="location-contact-phone"><i class="fa fa-phone"></i> <strong class="phone">{{phone}}</strong></a>
                      </div>
                    </div>
                </div>
              </script>
              <script id="listTemplate" type="text/template">
                <div class="col-md-12 card-container py-4">
                <div class="card">
                 <div class="card-body location-card">
                   <h4 class="location-title">{{dropOffLocationName}}</h4>
                   <hr class="center"/>
                  <div class="row">
                    {{descriptiontemplate}}
                    <div class="col-md-6 location-contacts">
                      <div class="container-fluid">
                        <div class="row">
                            {{contactstemplate}}
                        </div>
                        <hr class="d-sm-block d-md-block d-lg-none"/>
                        <div class="row">
                          {{linktemplate}}
                        </div>
                      </div>

                    </div>
                    <div class="col-md-6 location-address">
                      <h5><i class="fa fa-building"></i> Address:</h5>
                      <address class="location"><strong class="address">{{fullAddress}}</strong>
                      </address>
                      {{timetemplate}}
                      <hr/>
                      <p class="location-geolocation">
                        <a href="https://www.google.com/maps/?q={{latitude}},{{longitude}}" target="_blank"><i class="fa fa-map"></i> View on Google Maps</a><br/>
                        <a href="javascript:goToMap({{latitude}},{{longitude}},'{{dropOffLocationName}}');"><i class="fa fa-map"></i> Map View</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </script>
    <script src="./build/bundle.js"></script>
  </body>
</html>
